<h2><%= @day %></h2>

<p><%= link_to "Previous day", day_path(id: params[:id], date: (@day - 1.day)) %> |
  <%= link_to "Today", day_path(id: params[:id], date: Date.today) %> |
  <%= link_to "Next day", day_path(id: params[:id], date: (@day + 1.day)) %></p>

<ul id="event-list">
  <% @event_list.each do |item| %>
  <li>
    <h3><%= item[:event]['summary'] %> @ <%= display_start_time(item[:event]) %></h3>
    <p><%= link_to 'view in context', item[:event]['htmlLink'] %></p>
    <p><%= item[:event]['description'] %></p>
    <%= form_for item[:annotation] do |f| %>
      <%= f.hidden_field :event_id %>
      <%= f.text_area :notes %>
      <%= f.submit %>
    <% end %>
  </li>
  <% end %>
</ul>
